/* Column Widths */
.mat-column-libraryId {
  max-width: 64px;
}

.example-container {
  display: inline-flex;
  flex-direction: row;
}

.example-container {
  display:flex;
  flex-direction: column;
}
